body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}
.container {
  max-width: 59.375vw;
  margin: 0 auto;
  padding-left: 0.78vw;
  padding-right: 0.78vw;
}
/*----------HEADER---------*/
.header {
  padding-top: 1.3vw;
  padding-bottom: 0.31vw;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 5.05vw;
  height: 2.92vw;
  flex-basis: 20%;
}
.header nav {
  flex-basis: 74.5%;
}
.header-nav {
  display: flex;
  list-style-type: none;
  gap: 2.81vw;
  margin-top: 0.21vw;
}
.header-nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 1.5;
  color: #2b3541;
}
.header-nav a:after {
  content: "";
  display: block;
  width: 0;
  height: 0.052vw;
  background-color: #2b3540;
  transition: 0.5s;
}
.header-nav a:hover:after {
  width: 100%;
  margin-top: 0.208vw;
}
.social {
  display: flex;
  gap: 1.56vw;
}
.inst {
  display: block;
  background-image: url(../images/IN.svg);
  background-repeat: no-repeat;
  width: 1.56vw;
  background-size: contain;
}
.inst:hover {
  transform: scale(1.2666);
}
.fb {
  display: block;
  background-image: url(../images/FB.svg);
  background-repeat: no-repeat;
  width: 1.56vw;
  background-size: contain;
}
.fb:hover {
  transform: scale(1.2666);
}
/*---------BANNER---------*/
.banner {
  position: relative;
  margin-top: 11.6vw;
}
.banner-title {
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-first {
  font-size: 2.08vw;
  margin-top: 2.29vw;
  margin-bottom: 0;
}
.text-first span {
  margin-right: 1.146vw;
}
.text-second {
  font-size: 0.94vw;
  line-height: 150%;
  margin-top: 1.28vw;
  margin-left: 4.8vw;
  margin-bottom: 3vw;
}
.banner-link {
  font-size: 0.83vw;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  padding: 1.15vw 1.61vw;
  background: #fbf138;
  box-shadow: 0vw 0.677vw 1.25vw rgb(251 241 56 / 30%);
  margin-left: 4.74vw;
  transition: 0.5s;
}
.banner-link:hover {
  background: #2b3541;
  color: #fbf138;
}
.arrow {
  display: block;
  cursor: pointer;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
  max-width: 2.7vw;
  height: 2.86vw;
  margin-top: 10.57vw;
}
.banner-box {
  background-image: url(../images/Image\ 1\ screen.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 51.875vw;
  width: 100%;
  height: 44.2vw;
  position: absolute;
  top: -11.7vw;
  right: 10.2vw;
  z-index: -1;
}

/*---------EVENTS---------*/
.events {
  margin-top: 8.59vw;
}
.events-title h2 {
  font-size: 2.083vw;
}
.events-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 2.1875vw;
  width: 100%;
  height: 31.3vw;
}
.events-item {
  flex: 0 0 auto;
  width: 32%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.marathon {
  background-image: url(../images/maraphon.png);
}
.trainer {
  background-image: url(../images/Vebinar\ 1.png);
}
.yoga {
  background-image: url(../images/Vebinar\ 2.png);
}
.event-gradient {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.3) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.event-gradient:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.6) 0%,
    rgba(253, 249, 182, 0) 100%
  );
}
.date {
  font-weight: bold;
  font-size: 0.94vw;
  margin-top: 1.82vw;
  margin-left: 1.56vw;
}
.events h3 {
  font-weight: bold;
  font-size: 1.46vw;
  line-height: 125%;
  margin-left: 1.56vw;
  margin-top: 1.25vw;
}
.events .button {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.83vw;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fbf138;
  background: #2b3541;
  margin-left: 1.56vw;
  margin-top: 2.08vw;
  padding: 1.09vw 1.93vw;
  max-width: 7.71vw;
  opacity: 0;
  transition: 0.5s;
}
.event-gradient:hover .button {
  opacity: 1;
}
.type {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.94vw;
  text-align: center;
  background: #fbf138;
  margin-bottom: 0;
  padding: 0.78vw 0.94vw;
  transition: 0.5s;
}
.event-gradient:hover .type {
  opacity: 0;
}

/*-----------TIMETABLE---------*/

.timetable {
  margin-top: 6.56vw;
}
.timetable-title {
  display: flex;
  justify-content: space-between;
}
.text-title {
  font-weight: bold;
  font-size: 2.08vw;
  line-height: 125%;
}
.date-title {
  margin-top: 2.5vw;
  font-weight: bold;
  font-size: 1.46vw;
}
.grid {
  margin-top: 0.42vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 13vw 2.03vw 3.8vw 14.7vw;
  gap: 1.04vw;
}
.grid-item {
  border: 0.05vw solid rgb(43 52 64 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vw;
  cursor: pointer;
}
.grid-item:hover {
  background: rgba(243, 243, 243, 0.5);
  box-shadow: 0vw 0.2vw 1.56vw rgba(43, 53, 65, 0.2);
  border: none;
}

.date-item {
  margin-top: 0.68vw;
  margin-left: 10.2vw;
  font-size: 0.94vw;
  color: #010101;
  opacity: 0.7;
}

.grid-item:hover .training {
  margin-top: -4.17vw;
}
.grid-item img {
  margin-left: 1.09vw;
}
.grid-item h3 {
  font-weight: bold;
  font-size: 0.94vw;
  margin-top: 2.1vw;
  margin-left: 1.09vw;
}
.description {
  opacity: 0;
  font-size: 0.94vw;
  line-height: 150%;
  margin-left: 1.09vw;
}
.grid-item:hover .description {
  opacity: 1;
}
.funct-training img {
  width: 3.34vw;
  margin-top: 1.98vw;
}

.body-sculpt img {
  width: 2.19vw;
  margin-top: 8.96vw;
}

.dumbbell img {
  width: 4.74vw;
  margin-top: 5.94vw;
}
.dumbbell h3 {
  margin-left: 1.46vw;
}
.jump {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7) 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  box-shadow: 0vw 0.68vw 1.56vw rgba(186, 180, 69, 0.2);
  border: none;
}
.jump:hover {
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.7) 0%,
    rgba(253, 249, 182, 0.315) 100%
  );
  box-shadow: 0vw 0.68vw 1.56vw rgba(186, 180, 69, 0.2);
  border: none;
}

.jump img {
  width: 3.45vw;
  margin-top: 4.22vw;
}
.jump h3 {
  margin-top: 2.29vw;
}
.active {
  font-size: 0.94vw;
  line-height: 150%;
  margin-left: 1.09vw;
  margin-top: 0.16vw;
}
.heart img {
  width: 3.39vw;
  margin-top: 3.85vw;
}
.weight img {
  width: 3.02vw;
  margin-top: 8.44vw;
}

.grid-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grid-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.grid-item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.grid-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}
.grid-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.grid-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}
/*----------DISTRIBUTION-------*/
.distribution {
  margin-top: 8.33vw;
  background-color: #f3f3f3;
}
.distr-cover {
  max-width: 640px;
  margin: 0 auto;
  padding: 40px 0 85px 0;
}
.distr-title {
  font-size: 34px;
  text-align: center;
  line-height: 49px;
}
.distr-title h3 {
  position: relative;
  z-index: 1;
}
.distr-title h3::before {
  position: absolute;
  content: " ";
  top: -18px;
  left: -8px;
  height: 53px;
  width: 53px;
  background-color: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  border-radius: 100%;
  z-index: -1;
}
.distr-form {
  display: flex;
  margin-bottom: 15px;
}
.email {
  padding: 22px 130px 22px 20px;
  font-size: 18px;
  border: none;
  margin-left: 20px;
}
.email::placeholder{
  opacity: 0.3;
}

.distr-btn {
  margin-left: 20px;
  padding: 22px 42px 20px 45px;
  background-color: #fbf138;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.distr-btn:hover {
  background: #2b3541;
  color: #fbf138;
}
.agreement {
  padding-left: 9px;
  font-size: 11px;
  gap: 10px;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  transition: 0.5s;
  opacity: 1;
  left: 9px;
  top: -5px;
  background-image: url(../images/mdi_check_box.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: -3px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #5d575f;
}

.radio:checked + label::before {
  border-radius: 100%;
}

/*----------ABOUT COMPANY--------*/
.about-company {
  margin-top: 160px;
  margin-bottom: 150px;
}

.about-company-cover {
  display: flex;
  gap: 95px;
}
.cover-text {
}
.cover-text-title {
  font-weight: bold;
  font-size: 40px;
  margin-top: 3px;
  margin-bottom: 22px;
}

.cover-text-description {
  max-width: 470px;
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 150%;
  margin-left: 1px;
}
.cover-text-btn {
  padding: 23px 52px;
  background-color: #fbf138;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.cover-text-btn:hover {
  background-color: #2b3541;
  color: #fbf138;
}
.cover-image {
  background: linear-gradient(
      180deg,
      rgba(251, 241, 56, 0.3) 0%,
      rgba(253, 249, 182, 0.135) 100%
    ),
    url(../images/trainer.png);
  width: 581px;
  height: 336px;
  background-position: center;
  background-size: cover;
}
.advantages {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  margin-top: 58px;
  flex-wrap: wrap;
}
.advantages-item {
  flex: none;
}
.advantages-item:nth-child(1) {
  width: 23%;
}

.advantages-item:nth-child(2) {
  width: 28%;
}
.advantages-item:nth-child(3) {
  width: 22%;
}

.advantages-item:last-child {
  width: 18%;
}

.advantages-item h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 21px;
}
.advantages-item p {
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
}
/*----------FOOTER---------*/
.footer {
  background-color: #f3f3f3;
  padding-top: 30px;
}

.footer-item {
  display: flex;
  align-items: center;
}
.footer-logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 97px;
  height: 30px;
  margin-top: 17px;
  flex-basis: 16%;
  margin-left: 3px;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 90px;
  flex-basis: 64%;
  padding: 0;
  margin-top: 30px;
}

.footer-nav li {
  margin-top: 0;
  border-bottom: none;
  transition: 0.5s;
}
.footer-nav li:hover {
  margin-top: -4px;
  border-bottom: 1px solid #2b3540;
}
.footer-nav a {
  text-decoration: none;
  color: #2b3541;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.footer-email {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  z-index: 1;
  margin-top: 29px;
  margin-right: 61px;
}
.footer-email::before {
  content: " ";
  position: absolute;
  right: 136px;
  bottom: 10px;
  height: 25px;
  width: 25px;
  background-color: #fbf138;
  box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
  border-radius: 100%;
  z-index: -1;
}
.footer-social {
  display: flex;
  gap: 25px;
}
.footer-social-mobile {
  display: none;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 1px;
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #b7babe;
  margin-top: 5px;
}
.footer-front {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #b7babe;
}
.footer-front:hover {
  color: #666a6e;
}

/*----------BURGER-MENU---------*/
.burger-menu {
  width: 34px;
  height: 23px;
  background-color: transparent;
  background-image: url(../images/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.modal-mobile {
  max-width: 100%;
  background-color: #f3f3f3;
  text-align: center;
  position: absolute;
  top: -525px;
  left: 0;
  right: 0;
  margin: 5px auto 0;
  padding: 40px 15px 20px;
  box-sizing: border-box;
}
.modal-mobile .logo-header {
  margin-top: 0px;
}
.modal-mobile .header-nav {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  margin-left: 0;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0;
}
.modal-mobile .header-nav li:nth-child(2) {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #cbcdcf;
  border-bottom: 1px solid #cbcdcf;
}
.modal-mobile .social {
  justify-content: flex-end;
  margin-bottom: 60px;
}
.modal-mobile .banner-link {
  margin: 0;
  padding: 22px 17vw;
  max-width: 360px;
}
.burger-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 20px;
}

/*-------------MODAL--------------*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 99999;
  visibility: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}
.popup:target {
  visibility: visible;
}

.popup-body {
  margin-top: 10%;
}
.popup-content {
  text-align: center;
  background: #f3f3f3;
  width: 600px;
  padding: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
.popup-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup-title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px;
}
.popup-title::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #fbf138;
  box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
  padding: 27px;
  border-radius: 30px;
  z-index: 0;
}
.popup-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.popup-form input {
  border: none;
  margin: 0 auto;
  padding: 23px 0 23px 17p x;
  width: 90%;
}
.popup-form input[type="email"] {
  margin-bottom: 20px;
}

.popup-button {
  color: #2b3541;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fbf138;
  padding: 23px;
  letter-spacing: 0.5px;
  box-shadow: 0px 11px 28px -15px #fbf138;
  display: block;
  transition: 0.5s;
  margin-top: 40px;
}
.popup-button:hover {
  background-color: #2b3541;
  color: #fbf138;
  box-shadow: 0px 11px 28px -15px #2b3541;
}

/*----------MEDIA-------------*/
@media (max-width: 1900px) {
  .banner-box {
  }
}

@media (min-width: 861px) {
  .burger-menu {
    display: none;
  }
}
